<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Products Available</h1>
      <p class="lead text-muted">No veneer here!  All our furniture and decor is made of solid wood.  That means no MDF, particle board, plywood, or any other things you can think of that are not solid wood.</p>
      <p>
        <%= link_to 'New Product', new_product_path, class: 'btn btn-primary' %>
        <a href="#" class="btn btn-secondary">Secondary action</a>
      </p>
    </div>
  </section>

  <div class="album text-muted">
    <div class="container">

      <div class="row">

        <% if @products %>
          <% @products.each do |p| %>
            <div class="col-md-4"%>
              <div class="card product-card">
                <% if p.product_images.empty? %>
                  <%= link_to holder_tag('328x200'), product_path(p) %>
                <% else %>
                  <%= image_tag p.product_images.first.image, width: '100%' %> 
                <% end %>   
                <div class="card-body">
                  <h4 class="card-title"><%= link_to p.title.titleize, product_path(p) %></h4>
                  <p class="card-text"><%= p.desc.capitalize %></p>
                  <p class="card-text"><%= p.price %></p>
                  <p class="card-text"><%= link_to 'Delete', product_path(p), method: :delete, data: { confirm: "Are you sure you want to delete \'#{p.title.titleize}\'?" }, class: 'btn btn-sm btn-danger' %></p>
                </div>  
              </div> 
            </div>   
          <% end %> 
        <% end %> 
        
      </div>

    </div>
  </div>

</main>




