<div class="container product-container"> 
    
  <div class="row">
      <%= render 'lightbox' %>
      <div class="col-md-4">
        <h1><%= @product.title %></h1>
        <hr>
        <p><%= @product.desc.capitalize %></p>
        <p>$<%= @product.price %></p>
        <p><%= link_to 'Add image', new_product_image_path, class: 'btn btn-outline-primary' %>
      </div>   
  </div> 

  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>  
